<main class="container">
  <header class="header">
    <h1 class="header">EDITING MERCHANDISE</h1>
  </header>

  <%= render "form", merchandise: @merchandise %>

  <br>

  <div>
    <%= link_to "Show this merchandise", @merchandise %> |
    <%= link_to "Back to merchandises", merchandises_path %>
  </div>
</main>
