<div class="wrapper">
<p style="color: green"><%= notice %></p>

<div style="display: flex; align-items: center; justify-content: space-between;">
  <h1 class="merchtitle" style="margin-right: 1em;">Merchandise</h1>
  <%= link_to "New merchandise", new_merchandise_path, class: "button-link" %>
</div>

<div id="merchandises" class="merch-list">
  <% @merchandises.each do |merchandise| %>
    <div class="merch-item"h1>
    <%= render merchandise %>
    <p>
      <%= link_to "Show this merchandise", merchandise %>
    </p>
    </div>
  <% end %>
</div>
</div>
