<main class="container">
  <header class="header">
    <h1 class="header">NEW MERCHANDISE</h1>
  </header>

  <%= render "form", merchandise: @merchandise %>

  <br>

  <div>
    <%= link_to "Back to merchandise", merchandises_path %>
  </div>
</main>