<div id="<%= dom_id annoucement %>">
  <p>
    <strong>Title:</strong>
    <%= annoucement.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= annoucement.description %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= annoucement.created_by %>
  </p>

</div>
