<h1>Editing annoucement</h1>

<%= render "form", annoucement: @annoucement %>

<br>

<div>
  <%= link_to "Show this annoucement", @annoucement %> |
  <%= link_to "Back to annoucements", annoucements_path %>
</div>
