<div class="wrapper">
<p style="color: green"><%= notice %></p>
<h1 class="ideas-title">Ideas</h1>

<div id="ideas" class="ideas-board">
  <% @ideas.each do |idea| %>
    <div class="idea-item" onclick="window.location='<%= idea_path(idea) %>'">
      <%= render idea %>
    </div>
  <% end %>
</div>
  <%= link_to "New idea", new_idea_path %>
</div>