<main class="container">
  <header class="header">
      <h1>IDEAS</h1>
    <div>
      <%= link_to "New Idea", new_idea_path, class: "btn btn--primary", data: { turbo_frame: dom_id(Idea.new) } %>
    </div>
  </header>

  <p style="color: green"><%= notice %></p>

  <div id="ideas" class="ideas-board">
    <% @ideas.each do |idea| %>
      <div class="idea-item">
        <%= render "idea", idea: idea %>
      </div>
    <% end %>
  </div>
</main>





<script>
  function showModal(modalId) {
    const modal = document.getElementById(modalId);
    console.log(modal);
    if (modal) {
      modal.classList.remove('hidden');
      console.log(`Showing modal with ID: ${modalId}`);
    }
  }

  function closeModal(modalId) {
    const modal = document.getElementById(modalId);
    if (modal) {
      modal.classList.add('hidden');
    }
  }
</script>




