<div class="wrapper" id="main-content">
  <p style="color: green"><%= notice %></p>
  <h1 class="ideas-title">Ideas</h1>

  <div id="ideas" class="ideas-board">
    <% @ideas.each do |idea| %>
      <div class="idea-item">
        <%= render "idea", idea: idea %>
      </div>
    <% end %>
  </div>

  <%= link_to "New idea", new_idea_path, data: { turbo_frame: dom_id(Idea.new) } %>
</div>



<script>
  function showModal(modalId) {
    const modal = document.getElementById(modalId);
    console.log(modal);
    if (modal) {
      modal.classList.remove('hidden');
      console.log(`Showing modal with ID: ${modalId}`);
    }
  }

  function closeModal(modalId) {
    const modal = document.getElementById(modalId);
    if (modal) {
      modal.classList.add('hidden');
    }
  }
</script>




