body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: image-url('background.jpg'); /* Use the Rails asset helper */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* This keeps the background fixed */
    z-index: 0;
}
  
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-image: inherit; /* Inherit the body background image */
    background-color: var(--color-secondary-rotate);
    background-size: inherit;
    background-position: inherit;
    background-attachment: fixed; /* Still keep it fixed */
    // filter: blur(5px); /* Apply blur here */
    z-index: -1; /* Keep this behind the content */
    pointer-events: none; /* Ensures that the pseudo-element does not interfere with clicks */
}
  

img {
    opacity: 1;
}