/* line 1, app/assets/stylesheets/config/_variables.scss */
:root {
  --font-family-sans: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --line-height-headers: 1.1;
  --line-height-body:    1.5;
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;
  --font-size-xxxl: 2rem;
  --font-size-xxxxl: 2.5rem;
  --color-text-header: hsl(0, 1%, 16%);
  --color-text-body:   hsl(0, 5%, 25%);
  --color-text-muted:  hsl(0, 1%, 44%);
  --space-xxxs: 0.25rem;
  --space-xxs: 0.375rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 2.5rem;
  --space-xxxl: 3rem;
  --space-xxxxl: 4rem;
  --color-primary:          hsl(222, 15%, 87%);
  --color-primary-rotate:   hsl(70, 3%, 86%);
  --color-primary-bg:       hsla(0, 0%, 100%, 0.9);
  --color-secondary:        hsl(143, 33%, 23%);
  --color-secondary-rotate: hsl(143, 33%, 33%);
  --color-tertiary:         hsl(36, 62%, 69%);
  --color-glint:            hsl(36, 62%, 59%);
  --color-red:              hsl(356, 87%, 56%);
  --color-red-rotate:       hsl(356, 87%, 66%);
  --color-white:      hsl(0, 0%, 100%);
  --color-background: hsl(30, 50%, 98%);
  --color-light:      hsl(0, 6%, 93%);
  --color-dark:       var(--color-text-header);
  --border-radius: 0.375rem;
  --border: solid 2px var(--color-light);
  --shadow-large:  2px 4px 10px hsl(0 0% 0% / 0.1);
  --shadow-small:  1px 3px 6px hsl(0 0% 0% / 0.1);
}

/* line 63, app/assets/stylesheets/config/_variables.scss */
:root body {
  font-family: var(--font-family-sans);
}

@font-face {
  font-family: 'Roboto Mono';
  src: url(/assets/RobotoMono-VariableFont_wght-ba8bdda3250fc458782f545073391e03bd6913263145d0cb3d62052703231813.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 1, app/assets/stylesheets/config/_reset.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* line 7, app/assets/stylesheets/config/_reset.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 12, app/assets/stylesheets/config/_reset.scss */
html {
  overflow-y: scroll;
  height: 100%;
}

/* line 17, app/assets/stylesheets/config/_reset.scss */
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--color-background);
  color: var(--color-text-body);
  line-height: var(--line-height-body);
  font-family: var(--font-family-sans);
}

/* line 28, app/assets/stylesheets/config/_reset.scss */
img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* line 35, app/assets/stylesheets/config/_reset.scss */
input,
button,
textarea,
select {
  font: inherit;
}

/* line 42, app/assets/stylesheets/config/_reset.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-header);
  line-height: var(--line-height-headers);
}

/* line 52, app/assets/stylesheets/config/_reset.scss */
h1 {
  font-size: var(--font-size-xxxl);
}

/* line 56, app/assets/stylesheets/config/_reset.scss */
h2 {
  font-size: var(--font-size-xxl);
}

/* line 60, app/assets/stylesheets/config/_reset.scss */
h3 {
  font-size: var(--font-size-xl);
}

/* line 64, app/assets/stylesheets/config/_reset.scss */
h4 {
  font-size: var(--font-size-l);
}

/* line 68, app/assets/stylesheets/config/_reset.scss */
a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 200ms;
}

/* line 73, app/assets/stylesheets/config/_reset.scss */
a:hover, a:focus, a:active {
  color: var(--color-primary-rotate);
}

/* line 1, app/assets/stylesheets/config/_root.scss */
body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-image: url(/assets/background-fff7b4dc0e7baa35ca48c7cdaa197b3c704d07e80e9c65faf8d3c2548c9ca032.jpg);
  /* Use the Rails asset helper */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* This keeps the background fixed */
  z-index: 0;
}

/* line 15, app/assets/stylesheets/config/_root.scss */
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  /* Inherit the body background image */
  background-size: inherit;
  background-position: inherit;
  background-attachment: fixed;
  /* Still keep it fixed */
  filter: blur(5px);
  /* Apply blur here */
  z-index: -1;
  /* Keep this behind the content */
  pointer-events: none;
  /* Ensures that the pseudo-element does not interfere with clicks */
}

/* line 32, app/assets/stylesheets/config/_root.scss */
img {
  opacity: 1;
}

/* line 1, app/assets/stylesheets/components/_btn.scss */
.btn {
  display: inline-block;
  padding: var(--space-xxs) var(--space-m);
  border-radius: var(--border-radius);
  background-origin: border-box;
  background-color: transparent;
  border: solid 2px transparent;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: filter 400ms, color 200ms;
}

/* line 14, app/assets/stylesheets/components/_btn.scss */
.btn:hover, .btn:focus, .btn:focus-within, .btn:active {
  transition: filter 250ms, color 200ms;
}

/* line 21, app/assets/stylesheets/components/_btn.scss */
.btn--primary {
  color: var(--color-white);
  background-color: var(--color--primary);
}

/* line 26, app/assets/stylesheets/components/_btn.scss */
.btn--primary:hover, .btn--primary:focus, .btn--primary:focus-within, .btn--primary:active {
  color: var(--color-white);
  filter: saturate(1.1) brightness(105%);
}

/* line 35, app/assets/stylesheets/components/_btn.scss */
.btn--secondary {
  color: var(--color-white);
  background-image: linear-gradient(to right, var(--color-secondary), var(--color-secondary));
}

/* line 39, app/assets/stylesheets/components/_btn.scss */
.btn--secondary:hover, .btn--secondary:focus, .btn--secondary:focus-within, .btn--secondary:active {
  color: var(--color-white);
  filter: saturate(1.2) brightness(110%);
}

/* line 48, app/assets/stylesheets/components/_btn.scss */
.btn--light {
  color: var(--color-dark);
  background-color: var(--color-light);
}

/* line 52, app/assets/stylesheets/components/_btn.scss */
.btn--light:hover, .btn--light:focus, .btn--light:focus-within, .btn--light:active {
  color: var(--color-dark);
  filter: brightness(92%);
}

/* line 61, app/assets/stylesheets/components/_btn.scss */
.btn--dark {
  color: var(--color-white);
  border-color: var(--color-dark);
  background-color: var(--color-dark);
}

/* line 66, app/assets/stylesheets/components/_btn.scss */
.btn--dark:hover, .btn--dark:focus, .btn--dark:focus-within, .btn--dark:active {
  color: var(--color-white);
}

/* line 74, app/assets/stylesheets/components/_btn.scss */
.btn--tertiary {
  color: var(--color-white);
  background-color: var(--color-tertiary);
}

/* line 78, app/assets/stylesheets/components/_btn.scss */
.btn--tertiary:hover, .btn--tertiary:focus, .btn--tertiary:focus-within, .btn--tertiary:active {
  color: var(--color-white);
  filter: saturate(1.1) brightness(105%);
}

/* line 1, app/assets/stylesheets/components/_error_message.scss */
.error-message {
  width: 100%;
  color: var(--color-primary);
  background-color: var(--color-primary-bg);
  padding: var(--space-xs);
  border-radius: var(--border-radius);
}

/* line 1, app/assets/stylesheets/components/_form.scss */
.form {
  display: flex;
}

/* line 5, app/assets/stylesheets/components/_form.scss */
.form__group {
  flex: 1;
}

/* line 9, app/assets/stylesheets/components/_form.scss */
.form__input {
  width: 100%;
  max-width: 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  outline: none;
  transition: box-shadow 250ms;
}

/* line 17, app/assets/stylesheets/components/_form.scss */
.form__input:focus {
  box-shadow: 0 0 0 2px var(--color-glint);
}

/* line 21, app/assets/stylesheets/components/_form.scss */
.form__input--invalid {
  border-color: var(--color-primary);
}

/* line 1, app/assets/stylesheets/components/_visually_hidden.scss */
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* app/assets/stylesheets/application.scss */
/* line 3, app/assets/stylesheets/components/_navbar.scss */
.navbar {
  background-color: var(--color-secondary);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 1;
}

/* line 13, app/assets/stylesheets/components/_navbar.scss */
.navbar__navigation {
  width: 70rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-m);
}

@media (max-width: 70rem) {
  /* line 13, app/assets/stylesheets/components/_navbar.scss */
  .navbar__navigation {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
}

/* line 29, app/assets/stylesheets/components/_navbar.scss */
.navbar__toggle {
  display: none;
  background: none;
  border: none;
  max-width: 100px;
  font-size: 3em;
  color: var(--color-white);
  cursor: pointer;
}

@media (max-width: 70rem) {
  /* line 29, app/assets/stylesheets/components/_navbar.scss */
  .navbar__toggle {
    display: block;
    order: 3;
  }
}

/* line 45, app/assets/stylesheets/components/_navbar.scss */
.navbar__logo {
  border-radius: 100%;
  max-width: 75px;
  height: auto;
}

@media (max-width: 70rem) {
  /* line 45, app/assets/stylesheets/components/_navbar.scss */
  .navbar__logo {
    max-width: 75px;
    position: absolute;
    top: .5em;
    left: 50%;
    transform: translateX(-50%);
    order: 2;
  }
}

/* line 60, app/assets/stylesheets/components/_navbar.scss */
.navbar__list {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin: 0;
  padding: 0;
}

@media (max-width: 70rem) {
  /* line 60, app/assets/stylesheets/components/_navbar.scss */
  .navbar__list {
    display: none;
    flex-direction: column;
    background-color: var(--color-secondary);
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
  }
}

@media (max-width: 70rem) {
  /* line 78, app/assets/stylesheets/components/_navbar.scss */
  .navbar__list.is-active {
    display: flex !important;
    flex-direction: column;
    background-color: var(--color-secondary);
    position: absolute;
    top: 100%;
    width: 100%;
  }
  /* line 87, app/assets/stylesheets/components/_navbar.scss */
  .navbar__list.is-active .navbar__link {
    border-bottom: 1px solid var(--color-secondary-rotate);
    border-radius: 0;
  }
}

/* line 95, app/assets/stylesheets/components/_navbar.scss */
.navbar__list .navbar__list-auth {
  display: none;
}

@media (max-width: 70rem) {
  /* line 95, app/assets/stylesheets/components/_navbar.scss */
  .navbar__list .navbar__list-auth {
    display: flex;
  }
}

/* line 102, app/assets/stylesheets/components/_navbar.scss */
.navbar__link {
  color: var(--color-primary-rotate);
  height: 6em;
  padding: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease, color 0.5s ease;
  vertical-align: middle;
}

@media (max-width: 70rem) {
  /* line 102, app/assets/stylesheets/components/_navbar.scss */
  .navbar__link {
    margin: 0;
  }
}

/* line 118, app/assets/stylesheets/components/_navbar.scss */
.navbar__link:hover {
  background-color: var(--color-secondary-rotate);
}

/* line 123, app/assets/stylesheets/components/_navbar.scss */
.navbar__link:not(:last-child) {
  border-right: 1px solid var(--color-secondary-rotate);
}

@media (max-width: 70rem) {
  /* line 123, app/assets/stylesheets/components/_navbar.scss */
  .navbar__link:not(:last-child) {
    border-right: none;
  }
}

/* line 131, app/assets/stylesheets/components/_navbar.scss */
.navbar__link:first-of-type {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

/* line 136, app/assets/stylesheets/components/_navbar.scss */
.navbar__link:last-of-type {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-right: 0px solid var(--color-secondary-rotate);
}

/* line 142, app/assets/stylesheets/components/_navbar.scss */
.navbar__profile {
  background-color: var(--color-tertiary);
  padding: 0.5em 1em;
  border-radius: var(--border-radius);
  border: 0px solid var(--color-secondary);
  cursor: pointer;
  color: var(--color-text-header);
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.5s ease, color 0.5s ease;
}

@media (max-width: 70rem) {
  /* line 142, app/assets/stylesheets/components/_navbar.scss */
  .navbar__profile {
    display: none;
  }
}

/* line 159, app/assets/stylesheets/components/_navbar.scss */
.navbar__profile:hover {
  background-color: var(--color-glint);
  color: var(--color-text-body);
}

/* line 1, app/assets/stylesheets/components/_footer.scss */
.footer {
  background-color: var(--color-secondary);
  width: 100%;
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 0px;
  font-size: 14px;
  border-top: 1px solid var(--color-secondary-rotate);
  display: flex;
  flex-wrap: wrap;
  /* Enable wrapping of items */
  justify-content: space-between;
  align-items: center;
  /* Align items to the start of the flex container */
  /* Individual container styling */
}

/* line 20, app/assets/stylesheets/components/_footer.scss */
.footer__logo-container, .footer__instagram-container {
  flex: 0 0 80px;
  /* Make sure each section can grow and take 100% width on small screens */
}

/* line 25, app/assets/stylesheets/components/_footer.scss */
.footer__info-container {
  flex: 1 1 200px;
}

/* line 29, app/assets/stylesheets/components/_footer.scss */
.footer__links-container {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

@media (min-width: 70rem) {
  /* line 38, app/assets/stylesheets/components/_footer.scss */
  .footer .footer__link:not(:last-child)::after {
    content: "";
    /* Required to show the pseudo-element */
    display: inline-block;
    width: 1px;
    height: 20px;
    /* Adjust the height as needed */
    background-color: var(--color-secondary-rotate);
    /* Line color */
    margin-left: 10px;
    /* Space between the link and the line */
    margin-right: 10px;
    /* Space between the line and the next link */
    vertical-align: middle;
    /* Align the line with the text */
  }
}

/* line 51, app/assets/stylesheets/components/_footer.scss */
.footer__logo-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

/* line 57, app/assets/stylesheets/components/_footer.scss */
.footer__instagram-container {
  display: flex;
  align-items: center;
  justify-content: end;
}

/* line 65, app/assets/stylesheets/components/_footer.scss */
.footer__logo {
  border-radius: 100%;
  max-width: 75px;
  flex-shrink: 1;
  height: auto;
}

/* line 73, app/assets/stylesheets/components/_footer.scss */
.footer__links-container a {
  color: var(--color-tertiary);
  text-decoration: none;
  font-size: 14px;
}

/* line 79, app/assets/stylesheets/components/_footer.scss */
.footer__link:hover {
  color: var(--color-glint);
}

/* line 83, app/assets/stylesheets/components/_footer.scss */
.footer__info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* line 91, app/assets/stylesheets/components/_footer.scss */
.footer__git {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* line 98, app/assets/stylesheets/components/_footer.scss */
.footer__git .footer__link {
  color: var(--color-tertiary);
}

/* line 102, app/assets/stylesheets/components/_footer.scss */
.footer__git .footer__link:hover {
  color: var(--color-glint);
}

/* line 107, app/assets/stylesheets/components/_footer.scss */
.footer__text {
  margin: 0;
  color: var(--color-primary);
}

/* line 112, app/assets/stylesheets/components/_footer.scss */
.footer__copyright {
  width: 100%;
  text-align: center;
  /* Center the copyright text */
  margin-top: 20px;
  /* Add space from the elements above */
  border-top: 1px solid var(--color-secondary-rotate);
  color: var(--color-primary-rotate);
  padding-top: 10px;
  /* Padding for visual spacing */
  order: 2;
  /* Place it at the end in flex order */
}

@media (min-width: 70rem) {
  /* line 1, app/assets/stylesheets/components/_footer.scss */
  .footer {
    padding-right: 20vw;
    padding-left: 20vw;
  }
}

/* line 1, app/assets/stylesheets/components/_home.scss */
.home {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--space-s);
  align-items: center;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* line 12, app/assets/stylesheets/components/_home.scss */
.home > * {
  padding-left: var(--space-m);
  padding-right: var(--space-m);
  width: 65%;
}

@media (max-width: 70rem) {
  /* line 12, app/assets/stylesheets/components/_home.scss */
  .home > * {
    width: 100%;
  }
}

@media (max-width: 70rem) {
  /* line 1, app/assets/stylesheets/components/_home.scss */
  .home {
    width: 100%;
  }
}

/* line 27, app/assets/stylesheets/components/_home.scss */
.home__image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 36, app/assets/stylesheets/components/_home.scss */
.home__image-container {
  width: 65%;
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
}

@media (max-width: 70rem) {
  /* line 36, app/assets/stylesheets/components/_home.scss */
  .home__image-container {
    width: 100%;
  }
}

/* line 47, app/assets/stylesheets/components/_home.scss */
.home img {
  width: 100%;
  display: block;
  margin: auto;
  z-index: 0;
  opacity: 1 !important;
}

/* line 55, app/assets/stylesheets/components/_home.scss */
.home__image-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.6s;
}

/* line 70, app/assets/stylesheets/components/_home.scss */
.home__image-content:hover {
  opacity: 1;
}

/* line 74, app/assets/stylesheets/components/_home.scss */
.home__image-content h1 {
  color: var(--color-tertiary);
  font-size: var(--font-size-xxxxl);
  font-family: 'Lato';
  margin-bottom: 10px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

/* line 84, app/assets/stylesheets/components/_home.scss */
.home__image-content p {
  color: var(--color-primary-rotate);
  font-size: var(--font-size-xl);
  font-family: 'Lato';
  padding-left: 10%;
  padding-right: 10%;
}

/* line 92, app/assets/stylesheets/components/_home.scss */
.home__image-content > * {
  transform: translateY(25px);
  transition: transform 0.6s;
}

/* line 97, app/assets/stylesheets/components/_home.scss */
.home__image-content:hover > * {
  transform: translateY(0px);
}

/* line 101, app/assets/stylesheets/components/_home.scss */
.home__caption {
  text-align: center;
  color: var(--color-tertiary);
  font-family: 'Lato';
  margin-top: var(--space-m);
}

@media (max-width: 70rem) {
  /* line 101, app/assets/stylesheets/components/_home.scss */
  .home__caption {
    padding: var(--space-xs);
  }
}

/* line 112, app/assets/stylesheets/components/_home.scss */
.home__header {
  text-align: center;
  color: var(--color-secondary);
  margin-top: var(--space-m);
  font-family: 'Lato';
}

@media (max-width: 70rem) {
  /* line 112, app/assets/stylesheets/components/_home.scss */
  .home__header {
    padding: var(--space-xs);
  }
}

/* line 123, app/assets/stylesheets/components/_home.scss */
.home__subheader {
  color: var(--color-secondary-rotate);
  text-align: center;
}

/* line 129, app/assets/stylesheets/components/_home.scss */
.home__section-header {
  padding: var(--space-m);
  color: var(--color-secondary-rotate);
  text-align: left;
}

/* line 135, app/assets/stylesheets/components/_home.scss */
.home__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-s);
  width: 65%;
  height: 50%;
  padding: var(--space-m);
  color: var(--color-tertiary);
  font-family: 'Lato';
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);
  border-radius: var(--border-radius);
  background-color: var(--color-secondary-rotate);
  border: 2px solid var(--color-secondary);
  box-shadow: var(--shadow-large);
}

/* line 153, app/assets/stylesheets/components/_home.scss */
.home__section h3 {
  text-align: left;
  color: var(--color-glint);
  width: 100%;
}

@media (max-width: 70rem) {
  /* line 135, app/assets/stylesheets/components/_home.scss */
  .home__section {
    width: 100%;
  }
}

/* line 166, app/assets/stylesheets/components/_home.scss */
.home__quote h3 {
  text-align: center;
  font-weight: bold;
  color: var(--color-tertiary);
}

/* line 172, app/assets/stylesheets/components/_home.scss */
.home__button {
  align-self: center;
  background-color: var(--color-tertiary);
  padding: 0.5em 1em;
  border-radius: var(--border-radius);
  border: 0px solid var(--color-secondary);
  cursor: pointer;
  color: var(--color-text-header);
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* line 188, app/assets/stylesheets/components/_home.scss */
.home__button:hover {
  background-color: var(--color-glint);
  color: var(--color-text-body);
}

/* line 3, app/assets/stylesheets/components/_user.scss */
.user__table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: var(--border-radius);
}

/* line 16, app/assets/stylesheets/components/_user.scss */
.user__table-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--color-secondary);
  border-radius: 0px;
}

@media (max-width: 70rem) {
  /* line 16, app/assets/stylesheets/components/_user.scss */
  .user__table-row {
    overflow: scroll;
  }
}

/* line 34, app/assets/stylesheets/components/_user.scss */
.user__table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: var(--color-tertiary);
  color: var(--color-primary-bg);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* line 47, app/assets/stylesheets/components/_user.scss */
.user__table-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-rotate);
  color: var(--color-secondary);
}

/* line 58, app/assets/stylesheets/components/_user.scss */
.user__table-cell {
  flex: 1;
  padding: 10px;
}

/* line 63, app/assets/stylesheets/components/_user.scss */
.user__image {
  width: 50px;
  height: 50px;
  border-radius: var(--border-radius);
}

/* line 69, app/assets/stylesheets/components/_user.scss */
.user__table-row .user__table-cell:nth-child(1) {
  flex: 0 0 70px;
}

@media (max-width: 70rem) {
  /* line 73, app/assets/stylesheets/components/_user.scss */
  .user__table-row .user__table-cell:nth-child(2) {
    flex: 1 0 100px;
  }
}

/* line 79, app/assets/stylesheets/components/_user.scss */
.user__table-row .user__table-cell:nth-child(3) {
  flex-grow: 1;
}

@media (max-width: 70rem) {
  /* line 79, app/assets/stylesheets/components/_user.scss */
  .user__table-row .user__table-cell:nth-child(3) {
    flex: 1 0 75px;
    /* Fixed width */
  }
}

/* line 86, app/assets/stylesheets/components/_user.scss */
.user__table-row .user__table-cell:nth-child(4), .user__table-row .user__table-cell:nth-child(5) {
  flex: 0 0 65px;
}

/* line 91, app/assets/stylesheets/components/_user.scss */
.user__table-row .user__table-cell:nth-child(6) {
  flex: 0 0 80px;
}

/* line 95, app/assets/stylesheets/components/_user.scss */
.user__table-row .user__table-cell:last-child {
  flex: 0 0 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 102, app/assets/stylesheets/components/_user.scss */
.user__table-button {
  border: 0px;
  border-radius: var(--border-radius);
  background-color: var(--color-secondary);
  cursor: pointer;
}

/* line 110, app/assets/stylesheets/components/_user.scss */
.edit,
.confirm {
  background-color: var(--color-secondary);
  transition: background-color 0.5s ease;
}

/* line 116, app/assets/stylesheets/components/_user.scss */
.edit:hover,
.confirm:hover {
  background-color: var(--color-secondary-rotate);
}

/* line 121, app/assets/stylesheets/components/_user.scss */
.trash,
.cancel {
  background-color: var(--color-red);
  transition: background-color 0.5s ease;
}

/* line 127, app/assets/stylesheets/components/_user.scss */
.trash:hover,
.cancel:hover {
  background-color: var(--color-red-rotate);
}

/* line 134, app/assets/stylesheets/components/_user.scss */
[id^="user_"] {
  width: 100%;
}

/* line 1, app/assets/stylesheets/components/_event.scss */
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

/* line 7, app/assets/stylesheets/components/_event.scss */
.day {
  padding: 10px;
  background-color: #f8f9fa;
  text-align: center;
  border-radius: 5px;
}

/* line 14, app/assets/stylesheets/components/_event.scss */
.event-date {
  background-color: blue;
  color: white;
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/* line 24, app/assets/stylesheets/components/_event.scss */
.no-event {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/* line 2, app/assets/stylesheets/components/_photo.scss */
.photo__table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: var(--border-radius);
}

/* line 15, app/assets/stylesheets/components/_photo.scss */
.photo__table-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid var(--color-secondary);
  border-radius: 0px;
}

@media (max-width: 70rem) {
  /* line 15, app/assets/stylesheets/components/_photo.scss */
  .photo__table-row {
    overflow: scroll;
  }
}

/* line 29, app/assets/stylesheets/components/_photo.scss */
.photo__table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: var(--color-tertiary);
  color: var(--color-primary-bg);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* line 42, app/assets/stylesheets/components/_photo.scss */
.photo__table-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-rotate);
  color: var(--color-secondary);
}

/* line 53, app/assets/stylesheets/components/_photo.scss */
.photo__table-cell {
  flex: 1;
  padding: 10px;
}

/* line 58, app/assets/stylesheets/components/_photo.scss */
.photo__table-row .photo__table-cell:nth-child(1) {
  flex: 0 0 100px;
}

/* line 62, app/assets/stylesheets/components/_photo.scss */
.photo__table-row .photo__table-cell:nth-child(2) {
  flex: 0 0 100px;
}

/* line 67, app/assets/stylesheets/components/_photo.scss */
.photo__table-row .photo__table-cell:nth-child(3) {
  flex-grow: 1;
}

@media (max-width: 70rem) {
  /* line 67, app/assets/stylesheets/components/_photo.scss */
  .photo__table-row .photo__table-cell:nth-child(3) {
    flex: 1 0 100px;
    /* Fixed width */
  }
}

/* line 74, app/assets/stylesheets/components/_photo.scss */
.photo__table-row .photo__table-cell:last-child {
  flex: 0 0 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 81, app/assets/stylesheets/components/_photo.scss */
.photo__image {
  max-width: 500px;
  height: auto;
  border-radius: var(--border-radius);
}

/* line 87, app/assets/stylesheets/components/_photo.scss */
.photo__table-button {
  border: 0px;
  border-radius: var(--border-radius);
  background-color: var(--color-secondary);
  cursor: pointer;
}

/* line 95, app/assets/stylesheets/components/_photo.scss */
.edit,
.confirm {
  background-color: var(--color-secondary);
  transition: background-color 0.5s ease;
}

/* line 101, app/assets/stylesheets/components/_photo.scss */
.edit:hover,
.confirm:hover {
  background-color: var(--color-secondary-rotate);
}

/* line 106, app/assets/stylesheets/components/_photo.scss */
.trash,
.cancel {
  background-color: var(--color-red);
  transition: background-color 0.5s ease;
}

/* line 112, app/assets/stylesheets/components/_photo.scss */
.trash:hover,
.cancel:hover {
  background-color: var(--color-red-rotate);
}

/* line 117, app/assets/stylesheets/components/_photo.scss */
[id^="photo_"] {
  width: 100%;
}

/* line 1, app/assets/stylesheets/components/_carousel.scss */
.carousel {
  position: relative;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio */
  perspective: 100px;
  overflow: hidden;
  /* Hide scrollbar in WebKit-based browsers */
  /* Adjusted position of image content styles */
  /* Show content on hover */
}

/* line 7, app/assets/stylesheets/components/_carousel.scss */
.carousel__viewport {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  overflow-x: auto;
  width: 100%;
  height: 100%;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
  /* Hide scrollbar while allowing scrolling */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

/* line 27, app/assets/stylesheets/components/_carousel.scss */
.carousel__viewport::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* line 32, app/assets/stylesheets/components/_carousel.scss */
.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  scroll-snap-align: center;
  height: 100%;
  /* Add this line */
}

/* line 38, app/assets/stylesheets/components/_carousel.scss */
.carousel__slide__image-container {
  position: relative;
  width: 100%;
  height: 100%;
  /* Add this line */
  overflow: hidden;
}

/* line 45, app/assets/stylesheets/components/_carousel.scss */
.carousel__slide .carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 51, app/assets/stylesheets/components/_carousel.scss */
.carousel__slide__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 61, app/assets/stylesheets/components/_carousel.scss */
.carousel__image-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.6s;
  text-align: center;
  color: #fff;
}

/* line 77, app/assets/stylesheets/components/_carousel.scss */
.carousel__image-content h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

/* line 82, app/assets/stylesheets/components/_carousel.scss */
.carousel__image-content p {
  font-size: 1.2em;
}

/* line 88, app/assets/stylesheets/components/_carousel.scss */
.carousel__image-container:hover .carousel__image-content {
  opacity: 1;
}

/* line 92, app/assets/stylesheets/components/_carousel.scss */
.carousel__navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

/* line 98, app/assets/stylesheets/components/_carousel.scss */
.carousel__navigation-list {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 106, app/assets/stylesheets/components/_carousel.scss */
.carousel__navigation-item {
  list-style: none;
}

/* line 110, app/assets/stylesheets/components/_carousel.scss */
.carousel__navigation-button {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #333;
  border-radius: 50%;
  text-indent: -9999px;
  border: 2px solid transparent;
}

/* line 119, app/assets/stylesheets/components/_carousel.scss */
.carousel__navigation-button:hover, .carousel__navigation-button:focus {
  background-color: #fff;
  outline: none;
}

/* line 127, app/assets/stylesheets/components/_carousel.scss */
.carousel__prev, .carousel__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.5);
  text-indent: -9999px;
  border: none;
  cursor: pointer;
}

/* line 139, app/assets/stylesheets/components/_carousel.scss */
.carousel__prev::before, .carousel__next::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
}

/* line 152, app/assets/stylesheets/components/_carousel.scss */
.carousel__prev {
  left: 0;
}

/* line 155, app/assets/stylesheets/components/_carousel.scss */
.carousel__prev::before {
  left: 10px;
  background-image: url(/assets/arrow-left-svgrepo-com-4572e1737012c12f6c5b179a4a32967319e0289719d5c0ff2cc6b0032866101c.svg);
  /* Left Arrow Icon */
}

/* line 161, app/assets/stylesheets/components/_carousel.scss */
.carousel__next {
  right: 0;
}

/* line 164, app/assets/stylesheets/components/_carousel.scss */
.carousel__next::before {
  right: 10px;
  background-image: url(/assets/arrow-right-svgrepo-com-e351bde2edbe71b5625aab29922055c9dce9e93c4094932a91ef54314fc0b10e.svg);
  /* Right Arrow Icon */
}

/* line 1, app/assets/stylesheets/layouts/_container.scss */
.container {
  width: 100%;
  height: 100%;
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-primary-bg);
  padding-bottom: var(--space-m);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

@media (min-width: 70rem) {
  /* line 1, app/assets/stylesheets/layouts/_container.scss */
  .container {
    padding-right: var(--space-m);
    padding-left: var(--space-m);
    max-width: 70rem;
  }
}

/* line 1, app/assets/stylesheets/layouts/_header.scss */
.header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  justify-content: space-between;
  margin-top: var(--space-m);
  margin-bottom: var(--space-l);
  color: var(--color-secondary);
  font-family: 'Lato';
}

@media (min-width: 70rem) {
  /* line 1, app/assets/stylesheets/layouts/_header.scss */
  .header {
    margin-bottom: var(--space-xl);
  }
}

/* line 1, app/assets/stylesheets/layouts/_stack.scss */
.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* line 7, app/assets/stylesheets/layouts/_stack.scss */
.stack > * {
  margin-block: 0;
}

/* line 11, app/assets/stylesheets/layouts/_stack.scss */
.stack > * + * {
  margin-block-start: var(--space, 1.5rem);
}

/* line 1, app/assets/stylesheets/layouts/_flash.scss */
.flash {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: var(--space-xxxs);
  margin: var(--space-xxxs);
  border-radius: var(--border-radius);
  text-align: center;
  font-weight: bolder;
  text-align: center;
  font-weight: bolder;
}

/* line 14, app/assets/stylesheets/layouts/_flash.scss */
.flash__container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-primary-bg);
}

@media (min-width: 70rem) {
  /* line 14, app/assets/stylesheets/layouts/_flash.scss */
  .flash__container {
    padding-right: var(--space-m);
    padding-left: var(--space-m);
    max-width: 70rem;
  }
}

/* line 27, app/assets/stylesheets/layouts/_flash.scss */
.flash__alert {
  color: var(--color-red);
  border: 1px solid var(--color-red);
  background-color: #f8d7da;
}

/* line 33, app/assets/stylesheets/layouts/_flash.scss */
.flash__notice {
  color: blue;
  border: 1px solid blue;
  background-color: #cce5ff;
}

/* line 39, app/assets/stylesheets/layouts/_flash.scss */
.flash__success {
  color: var(--color-secondary-rotate);
  border: 1px solid var(--color-secondary-rotate);
  background-color: #d4edda;
}
