/* line 1, app/assets/stylesheets/config/_variables.scss */
:root {
  --font-family-sans: 'Space Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --line-height-headers: 1.1;
  --line-height-body:    1.5;
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;
  --font-size-xxxl: 2rem;
  --font-size-xxxxl: 2.5rem;
  --color-text-header: hsl(0, 1%, 16%);
  --color-text-body:   hsl(0, 5%, 25%);
  --color-text-muted:  hsl(0, 1%, 44%);
  --space-xxxs: 0.25rem;
  --space-xxs: 0.375rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 2.5rem;
  --space-xxxl: 3rem;
  --space-xxxxl: 4rem;
  --color-primary:          hsl(0, 0%, 76%);
  --color-primary-rotate:   hsl(0, 0%, 86%);
  --color-primary-bg:       hsl(0, 85%, 96%);
  --color-secondary:        hsl(203, 5%, 34%);
  --color-secondary-rotate: hsl(203, 5%, 44%);
  --color-tertiary:         hsl(79, 91%, 44%);
  --color-glint:            hsl(79, 91%, 54%);
  --color-white:      hsl(0, 0%, 100%);
  --color-background: hsl(30, 50%, 98%);
  --color-light:      hsl(0, 6%, 93%);
  --color-dark:       var(--color-text-header);
  --border-radius: 0.375rem;
  --border: solid 2px var(--color-light);
  --shadow-large:  2px 4px 10px hsl(0 0% 0% / 0.1);
  --shadow-small:  1px 3px 6px hsl(0 0% 0% / 0.1);
}

/* line 61, app/assets/stylesheets/config/_variables.scss */
:root body {
  font-family: var(--font-family-sans);
}

@font-face {
  font-family: 'Space Mono';
  src: url(/assets/SpaceMono-Regular-1e13290d28b0f436734e4a612eab4a434d388cfde7548fcefde478c3ea22c66b.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Space Mono';
  src: url(/assets/SpaceMono-Bold-a7a62cb132bf55e888476eab4d0a82524cc2ce5875833cf66638095c4fc7cb8f.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* line 1, app/assets/stylesheets/config/_reset.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* line 7, app/assets/stylesheets/config/_reset.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 12, app/assets/stylesheets/config/_reset.scss */
html {
  overflow-y: scroll;
  height: 100%;
}

/* line 17, app/assets/stylesheets/config/_reset.scss */
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--color-background);
  color: var(--color-text-body);
  line-height: var(--line-height-body);
  font-family: var(--font-family-sans);
}

/* line 28, app/assets/stylesheets/config/_reset.scss */
img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* line 35, app/assets/stylesheets/config/_reset.scss */
input,
button,
textarea,
select {
  font: inherit;
}

/* line 42, app/assets/stylesheets/config/_reset.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-header);
  line-height: var(--line-height-headers);
}

/* line 52, app/assets/stylesheets/config/_reset.scss */
h1 {
  font-size: var(--font-size-xxxl);
}

/* line 56, app/assets/stylesheets/config/_reset.scss */
h2 {
  font-size: var(--font-size-xxl);
}

/* line 60, app/assets/stylesheets/config/_reset.scss */
h3 {
  font-size: var(--font-size-xl);
}

/* line 64, app/assets/stylesheets/config/_reset.scss */
h4 {
  font-size: var(--font-size-l);
}

/* line 68, app/assets/stylesheets/config/_reset.scss */
a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 200ms;
}

/* line 73, app/assets/stylesheets/config/_reset.scss */
a:hover, a:focus, a:active {
  color: var(--color-primary-rotate);
}

/* line 1, app/assets/stylesheets/components/_btn.scss */
.btn {
  display: inline-block;
  padding: var(--space-xxs) var(--space-m);
  border-radius: var(--border-radius);
  background-origin: border-box;
  background-color: transparent;
  border: solid 2px transparent;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: filter 400ms, color 200ms;
}

/* line 14, app/assets/stylesheets/components/_btn.scss */
.btn:hover, .btn:focus, .btn:focus-within, .btn:active {
  transition: filter 250ms, color 200ms;
}

/* line 21, app/assets/stylesheets/components/_btn.scss */
.btn--primary {
  color: var(--color-white);
  background-color: var(--color--primary);
}

/* line 26, app/assets/stylesheets/components/_btn.scss */
.btn--primary:hover, .btn--primary:focus, .btn--primary:focus-within, .btn--primary:active {
  color: var(--color-white);
  filter: saturate(1.1) brightness(105%);
}

/* line 35, app/assets/stylesheets/components/_btn.scss */
.btn--secondary {
  color: var(--color-white);
  background-image: linear-gradient(to right, var(--color-secondary), var(--color-secondary));
}

/* line 39, app/assets/stylesheets/components/_btn.scss */
.btn--secondary:hover, .btn--secondary:focus, .btn--secondary:focus-within, .btn--secondary:active {
  color: var(--color-white);
  filter: saturate(1.2) brightness(110%);
}

/* line 48, app/assets/stylesheets/components/_btn.scss */
.btn--light {
  color: var(--color-dark);
  background-color: var(--color-light);
}

/* line 52, app/assets/stylesheets/components/_btn.scss */
.btn--light:hover, .btn--light:focus, .btn--light:focus-within, .btn--light:active {
  color: var(--color-dark);
  filter: brightness(92%);
}

/* line 61, app/assets/stylesheets/components/_btn.scss */
.btn--dark {
  color: var(--color-white);
  border-color: var(--color-dark);
  background-color: var(--color-dark);
}

/* line 66, app/assets/stylesheets/components/_btn.scss */
.btn--dark:hover, .btn--dark:focus, .btn--dark:focus-within, .btn--dark:active {
  color: var(--color-white);
}

/* line 74, app/assets/stylesheets/components/_btn.scss */
.btn--tertiary {
  color: var(--color-white);
  background-color: var(--color-tertiary);
}

/* line 78, app/assets/stylesheets/components/_btn.scss */
.btn--tertiary:hover, .btn--tertiary:focus, .btn--tertiary:focus-within, .btn--tertiary:active {
  color: var(--color-white);
  filter: saturate(1.1) brightness(105%);
}

/* line 1, app/assets/stylesheets/components/_error_message.scss */
.error-message {
  width: 100%;
  color: var(--color-primary);
  background-color: var(--color-primary-bg);
  padding: var(--space-xs);
  border-radius: var(--border-radius);
}

/* line 1, app/assets/stylesheets/components/_form.scss */
.form {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
}

/* line 6, app/assets/stylesheets/components/_form.scss */
.form__group {
  flex: 1;
}

/* line 10, app/assets/stylesheets/components/_form.scss */
.form__input {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: var(--space-xxs) var(--space-xs);
  border: var(--border);
  border-radius: var(--border-radius);
  outline: none;
  transition: box-shadow 250ms;
}

/* line 20, app/assets/stylesheets/components/_form.scss */
.form__input:focus {
  box-shadow: 0 0 0 2px var(--color-glint);
}

/* line 24, app/assets/stylesheets/components/_form.scss */
.form__input--invalid {
  border-color: var(--color-primary);
}

/* line 1, app/assets/stylesheets/components/_visually_hidden.scss */
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* app/assets/stylesheets/application.scss */
/* line 3, app/assets/stylesheets/components/_navbar.scss */
.navbar {
  background-color: var(--color-primary);
  position: sticky;
  top: 0;
}

/* line 8, app/assets/stylesheets/components/_navbar.scss */
.navbar div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* line 15, app/assets/stylesheets/components/_navbar.scss */
.navbar__logo {
  border-radius: 100%;
  max-width: 75px;
  height: auto;
}

@media (max-width: 50rem) {
  /* line 15, app/assets/stylesheets/components/_navbar.scss */
  .navbar__logo {
    max-width: 50px;
  }
}

/* line 25, app/assets/stylesheets/components/_navbar.scss */
.navbar__navigation {
  width: 100%;
  height: 3rem;
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 37, app/assets/stylesheets/components/_navbar.scss */
.navbar__toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5em;
  color: var(--color-white);
  cursor: pointer;
  align-self: flex-end;
}

@media (max-width: 50rem) {
  /* line 37, app/assets/stylesheets/components/_navbar.scss */
  .navbar__toggle {
    display: block;
  }
}

/* line 51, app/assets/stylesheets/components/_navbar.scss */
.navbar__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: var(--border-radius);
}

@media (max-width: 50rem) {
  /* line 51, app/assets/stylesheets/components/_navbar.scss */
  .navbar__list {
    display: none;
    flex-direction: column;
    background-color: var(--color-secondary);
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
  }
}

/* line 69, app/assets/stylesheets/components/_navbar.scss */
.navbar__link {
  color: var(--color-primary-rotate);
  text-decoration: none;
  padding: 0.5em 2em;
  display: block;
  align-self: center;
  text-align: center;
  vertical-align: middle;
  height: 3rem;
  display: flex;
}

@media (max-width: 50rem) {
  /* line 69, app/assets/stylesheets/components/_navbar.scss */
  .navbar__link {
    margin: 0;
  }
}

/* line 84, app/assets/stylesheets/components/_navbar.scss */
.navbar__link:hover {
  background-color: var(--color-secondary-rotate);
}

/* line 89, app/assets/stylesheets/components/_navbar.scss */
.navbar .navbar__link:not(:last-child) {
  border-right: 1px solid var(--color-primary-rotate);
}

/* line 93, app/assets/stylesheets/components/_navbar.scss */
.navbar__search {
  margin-left: 4%;
  color: var(--color-secondary);
  background-color: var(--color-primary-rotate);
  padding: 0.5em 1em;
}

/* line 100, app/assets/stylesheets/components/_navbar.scss */
.navbar__profile {
  height: 80%;
  margin-right: 4%;
  color: var(--color-primary-rotate);
  background-color: var(--color-secondary);
  padding: 0.5em 1em;
}

/* line 1, app/assets/stylesheets/components/_footer.scss */
.footer {
  background-color: var(--color-secondary);
  width: 100%;
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  border-top: 1px solid var(--color-secondary-rotate);
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  /* Enable wrapping of items */
  justify-content: space-between;
  align-items: center;
  /* Align items to the start of the flex container */
  /* Individual container styling */
}

/* line 19, app/assets/stylesheets/components/_footer.scss */
.footer__logo-container, .footer__git, .footer__instagram-container {
  flex: 1 1 33%;
  /* Make sure each section can grow and take 100% width on small screens */
}

/* line 25, app/assets/stylesheets/components/_footer.scss */
.footer__links-container {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

/* line 34, app/assets/stylesheets/components/_footer.scss */
.footer .footer__link:not(:last-child)::after {
  content: "";
  /* Required to show the pseudo-element */
  display: inline-block;
  width: 1px;
  height: 20px;
  /* Adjust the height as needed */
  background-color: var(--color-tertiary);
  /* Line color */
  margin-left: 10px;
  /* Space between the link and the line */
  margin-right: 10px;
  /* Space between the line and the next link */
  vertical-align: middle;
  /* Align the line with the text */
}

/* line 45, app/assets/stylesheets/components/_footer.scss */
.footer__logo-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

/* line 51, app/assets/stylesheets/components/_footer.scss */
.footer__instagram-container {
  display: flex;
  align-items: center;
  justify-content: end;
}

/* line 59, app/assets/stylesheets/components/_footer.scss */
.footer__logo {
  border-radius: 100%;
  max-width: 75px;
  height: auto;
}

@media (max-width: 50rem) {
  /* line 59, app/assets/stylesheets/components/_footer.scss */
  .footer__logo {
    max-width: 50px;
  }
}

/* line 69, app/assets/stylesheets/components/_footer.scss */
.footer___link {
  color: var(--color-tertiary);
  text-decoration: none;
  margin: 0 10px;
  width: auto;
}

/* line 76, app/assets/stylesheets/components/_footer.scss */
.footer__link:hover {
  color: var(--color-glint);
}

/* line 80, app/assets/stylesheets/components/_footer.scss */
.footer__git {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* line 87, app/assets/stylesheets/components/_footer.scss */
.footer__text {
  margin: 0;
  color: var(--color-primary);
}

/* line 92, app/assets/stylesheets/components/_footer.scss */
.footer__copyright {
  width: 100%;
  text-align: center;
  /* Center the copyright text */
  margin-top: 20px;
  /* Add space from the elements above */
  border-top: 1px solid var(--color-secondary-rotate);
  color: var(--color-primary-rotate);
  padding-top: 10px;
  /* Padding for visual spacing */
  order: 2;
  /* Place it at the end in flex order */
}

@media (min-width: 50rem) {
  /* line 1, app/assets/stylesheets/components/_footer.scss */
  .footer {
    padding-right: 20vw;
    padding-left: 20vw;
  }
}

/* line 3, app/assets/stylesheets/components/_home.scss */
.home__hero {
  display: flex;
  align-self: center;
  border-radius: var(--border-radius);
  width: 100%;
  height: auto;
}

@media (max-width: 50rem) {
  /* line 3, app/assets/stylesheets/components/_home.scss */
  .home__hero {
    width: 100%;
    height: auto;
  }
}

/* line 1, app/assets/stylesheets/components/_user.scss */
.users-table {
  border-collapse: collapse;
  margin: 25px 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: var(--border-radius);
}

/* line 12, app/assets/stylesheets/components/_user.scss */
.users-table thead tr {
  background-color: var(--color-secondary);
  color: var(--color-white);
  text-align: center;
}

/* line 18, app/assets/stylesheets/components/_user.scss */
.users-table th,
.users-table td {
  padding: 12px 15px;
}

/* line 23, app/assets/stylesheets/components/_user.scss */
.users-table tbody tr {
  border-bottom: 1px solid var(--color-light);
}

/* line 27, app/assets/stylesheets/components/_user.scss */
.users-table tbody tr:nth-of-type(even) {
  background-color: var(--color-white);
}

/* line 31, app/assets/stylesheets/components/_user.scss */
.users-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--color-secondary);
}

/* line 35, app/assets/stylesheets/components/_user.scss */
.users-table tbody tr:hover {
  background-color: var(--color-light);
}

/* line 41, app/assets/stylesheets/components/_user.scss */
.user__image {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  border-radius: var(--border-radius);
  margin-left: 25%;
}

/* line 51, app/assets/stylesheets/components/_user.scss */
.user__avatar {
  width: 25%;
  height: auto;
  border-radius: var(--border-radius);
}

/* line 57, app/assets/stylesheets/components/_user.scss */
.user__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-bottom: 10%;
  width: 100%;
}

/* line 66, app/assets/stylesheets/components/_user.scss */
.user__show-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* line 73, app/assets/stylesheets/components/_user.scss */
.user__stack {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 10%;
  width: 100%;
}

/* line 82, app/assets/stylesheets/components/_user.scss */
.user__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
}

/* line 90, app/assets/stylesheets/components/_user.scss */
.user__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%;
  width: 100%;
}

/* line 1, app/assets/stylesheets/layouts/_container.scss */
.container {
  width: 100%;
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 50rem) {
  /* line 1, app/assets/stylesheets/layouts/_container.scss */
  .container {
    padding-right: var(--space-m);
    padding-left: var(--space-m);
    max-width: 60rem;
  }
}

/* line 1, app/assets/stylesheets/layouts/_header.scss */
.header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  justify-content: space-between;
  margin-top: var(--space-m);
  margin-bottom: var(--space-l);
}

@media (min-width: 50rem) {
  /* line 1, app/assets/stylesheets/layouts/_header.scss */
  .header {
    margin-bottom: var(--space-xl);
  }
}

/* line 1, app/assets/stylesheets/layouts/_stack.scss */
.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* line 7, app/assets/stylesheets/layouts/_stack.scss */
.stack > * {
  margin-block: 0;
}

/* line 11, app/assets/stylesheets/layouts/_stack.scss */
.stack > * + * {
  margin-block-start: var(--space, 1.5rem);
}
