/* line 1, app/assets/stylesheets/config/_variables.scss */
:root {
  --font-family-sans: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --line-height-headers: 1.1;
  --line-height-body:    1.5;
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;
  --font-size-xxxl: 2rem;
  --font-size-xxxxl: 2.5rem;
  --color-text-header: hsl(0, 1%, 16%);
  --color-text-body:   hsl(0, 5%, 25%);
  --color-text-muted:  hsl(0, 1%, 44%);
  --space-xxxs: 0.25rem;
  --space-xxs: 0.375rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2rem;
  --space-xxl: 2.5rem;
  --space-xxxl: 3rem;
  --space-xxxxl: 4rem;
  --color-primary:          hsl(70, 3%, 66%);
  --color-primary-rotate:   hsl(70, 3%, 86%);
  --color-primary-bg:       hsl(0, 0%, 100%);
  --color-secondary:        hsl(143, 33%, 23%);
  --color-secondary-rotate: hsl(143, 33%, 33%);
  --color-tertiary:         hsl(36, 62%, 69%);
  --color-glint:            hsl(36, 62%, 59%);
  --color-red:              hsl(356, 87%, 56%);
  --color-red-rotate:       hsl(356, 87%, 66%);
  --color-white:      hsl(0, 0%, 100%);
  --color-background: hsl(30, 50%, 98%);
  --color-light:      hsl(0, 6%, 93%);
  --color-dark:       var(--color-text-header);
  --border-radius: 0.375rem;
  --border: solid 2px var(--color-light);
  --shadow-large:  2px 4px 10px hsl(0 0% 0% / 0.1);
  --shadow-small:  1px 3px 6px hsl(0 0% 0% / 0.1);
}

/* line 63, app/assets/stylesheets/config/_variables.scss */
:root body {
  font-family: var(--font-family-sans);
}

@font-face {
  font-family: 'Roboto Mono';
  src: url(/assets/RobotoMono-VariableFont_wght-ba8bdda3250fc458782f545073391e03bd6913263145d0cb3d62052703231813.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 1, app/assets/stylesheets/config/_reset.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* line 7, app/assets/stylesheets/config/_reset.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 12, app/assets/stylesheets/config/_reset.scss */
html {
  overflow-y: scroll;
  height: 100%;
}

/* line 17, app/assets/stylesheets/config/_reset.scss */
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--color-background);
  color: var(--color-text-body);
  line-height: var(--line-height-body);
  font-family: var(--font-family-sans);
}

/* line 28, app/assets/stylesheets/config/_reset.scss */
img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* line 35, app/assets/stylesheets/config/_reset.scss */
input,
button,
textarea,
select {
  font: inherit;
}

/* line 42, app/assets/stylesheets/config/_reset.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-header);
  line-height: var(--line-height-headers);
}

/* line 52, app/assets/stylesheets/config/_reset.scss */
h1 {
  font-size: var(--font-size-xxxl);
}

/* line 56, app/assets/stylesheets/config/_reset.scss */
h2 {
  font-size: var(--font-size-xxl);
}

/* line 60, app/assets/stylesheets/config/_reset.scss */
h3 {
  font-size: var(--font-size-xl);
}

/* line 64, app/assets/stylesheets/config/_reset.scss */
h4 {
  font-size: var(--font-size-l);
}

/* line 68, app/assets/stylesheets/config/_reset.scss */
a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 200ms;
}

/* line 73, app/assets/stylesheets/config/_reset.scss */
a:hover, a:focus, a:active {
  color: var(--color-primary-rotate);
}

/* line 1, app/assets/stylesheets/config/_root.scss */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
}

/* line 1, app/assets/stylesheets/components/_btn.scss */
.btn {
  display: inline-block;
  padding: var(--space-xxs) var(--space-m);
  border-radius: var(--border-radius);
  background-origin: border-box;
  background-color: transparent;
  border: solid 2px transparent;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: filter 400ms, color 200ms;
}

/* line 14, app/assets/stylesheets/components/_btn.scss */
.btn:hover, .btn:focus, .btn:focus-within, .btn:active {
  transition: filter 250ms, color 200ms;
}

/* line 21, app/assets/stylesheets/components/_btn.scss */
.btn--primary {
  color: var(--color-white);
  background-color: var(--color--primary);
}

/* line 26, app/assets/stylesheets/components/_btn.scss */
.btn--primary:hover, .btn--primary:focus, .btn--primary:focus-within, .btn--primary:active {
  color: var(--color-white);
  filter: saturate(1.1) brightness(105%);
}

/* line 35, app/assets/stylesheets/components/_btn.scss */
.btn--secondary {
  color: var(--color-white);
  background-image: linear-gradient(to right, var(--color-secondary), var(--color-secondary));
}

/* line 39, app/assets/stylesheets/components/_btn.scss */
.btn--secondary:hover, .btn--secondary:focus, .btn--secondary:focus-within, .btn--secondary:active {
  color: var(--color-white);
  filter: saturate(1.2) brightness(110%);
}

/* line 48, app/assets/stylesheets/components/_btn.scss */
.btn--light {
  color: var(--color-dark);
  background-color: var(--color-light);
}

/* line 52, app/assets/stylesheets/components/_btn.scss */
.btn--light:hover, .btn--light:focus, .btn--light:focus-within, .btn--light:active {
  color: var(--color-dark);
  filter: brightness(92%);
}

/* line 61, app/assets/stylesheets/components/_btn.scss */
.btn--dark {
  color: var(--color-white);
  border-color: var(--color-dark);
  background-color: var(--color-dark);
}

/* line 66, app/assets/stylesheets/components/_btn.scss */
.btn--dark:hover, .btn--dark:focus, .btn--dark:focus-within, .btn--dark:active {
  color: var(--color-white);
}

/* line 74, app/assets/stylesheets/components/_btn.scss */
.btn--tertiary {
  color: var(--color-white);
  background-color: var(--color-tertiary);
}

/* line 78, app/assets/stylesheets/components/_btn.scss */
.btn--tertiary:hover, .btn--tertiary:focus, .btn--tertiary:focus-within, .btn--tertiary:active {
  color: var(--color-white);
  filter: saturate(1.1) brightness(105%);
}

/* line 1, app/assets/stylesheets/components/_error_message.scss */
.error-message {
  width: 100%;
  color: var(--color-primary);
  background-color: var(--color-primary-bg);
  padding: var(--space-xs);
  border-radius: var(--border-radius);
}

/* line 1, app/assets/stylesheets/components/_form.scss */
.form {
  display: flex;
}

/* line 5, app/assets/stylesheets/components/_form.scss */
.form__group {
  flex: 1;
}

/* line 9, app/assets/stylesheets/components/_form.scss */
.form__input {
  width: 100%;
  max-width: 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  outline: none;
  transition: box-shadow 250ms;
}

/* line 17, app/assets/stylesheets/components/_form.scss */
.form__input:focus {
  box-shadow: 0 0 0 2px var(--color-glint);
}

/* line 21, app/assets/stylesheets/components/_form.scss */
.form__input--invalid {
  border-color: var(--color-primary);
}

/* line 1, app/assets/stylesheets/components/_visually_hidden.scss */
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* app/assets/stylesheets/application.scss */
/* line 3, app/assets/stylesheets/components/_navbar.scss */
.navbar {
  background-color: var(--color-secondary);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 11, app/assets/stylesheets/components/_navbar.scss */
.navbar__navigation {
  width: 70rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-m);
}

@media (max-width: 70rem) {
  /* line 11, app/assets/stylesheets/components/_navbar.scss */
  .navbar__navigation {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
}

/* line 27, app/assets/stylesheets/components/_navbar.scss */
.navbar__toggle {
  display: none;
  background: none;
  border: none;
  max-width: 100px;
  font-size: 3em;
  color: var(--color-white);
  cursor: pointer;
}

@media (max-width: 70rem) {
  /* line 27, app/assets/stylesheets/components/_navbar.scss */
  .navbar__toggle {
    display: block;
    order: 3;
  }
}

/* line 43, app/assets/stylesheets/components/_navbar.scss */
.navbar__logo {
  border-radius: 100%;
  max-width: 75px;
  height: auto;
}

@media (max-width: 70rem) {
  /* line 43, app/assets/stylesheets/components/_navbar.scss */
  .navbar__logo {
    max-width: 75px;
    position: absolute;
    top: .5em;
    left: 50%;
    transform: translateX(-50%);
    order: 2;
  }
}

/* line 58, app/assets/stylesheets/components/_navbar.scss */
.navbar__list {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin: 0;
  padding: 0;
}

@media (max-width: 70rem) {
  /* line 58, app/assets/stylesheets/components/_navbar.scss */
  .navbar__list {
    display: none;
    flex-direction: column;
    background-color: var(--color-secondary);
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
  }
}

@media (max-width: 70rem) {
  /* line 77, app/assets/stylesheets/components/_navbar.scss */
  .navbar__list.is-active {
    display: flex !important;
    flex-direction: column;
    background-color: var(--color-secondary);
    position: absolute;
    top: 100%;
    width: 100%;
  }
  /* line 86, app/assets/stylesheets/components/_navbar.scss */
  .navbar__list.is-active .navbar__link {
    border-bottom: 1px solid var(--color-secondary-rotate);
    border-radius: 0;
  }
}

/* line 93, app/assets/stylesheets/components/_navbar.scss */
.navbar__list-auth {
  display: none;
}

@media (max-width: 70rem) {
  /* line 93, app/assets/stylesheets/components/_navbar.scss */
  .navbar__list-auth {
    display: block;
  }
}

/* line 101, app/assets/stylesheets/components/_navbar.scss */
.navbar__link:first-of-type {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

/* line 106, app/assets/stylesheets/components/_navbar.scss */
.navbar__link:last-of-type {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

/* line 111, app/assets/stylesheets/components/_navbar.scss */
.navbar__link {
  color: var(--color-primary-rotate);
  height: 6em;
  padding: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease, color 0.5s ease;
}

@media (max-width: 70rem) {
  /* line 111, app/assets/stylesheets/components/_navbar.scss */
  .navbar__link {
    margin: 0;
  }
}

/* line 126, app/assets/stylesheets/components/_navbar.scss */
.navbar__link:hover {
  background-color: var(--color-secondary-rotate);
}

/* line 131, app/assets/stylesheets/components/_navbar.scss */
.navbar__link:not(:last-child) {
  border-right: 1px solid var(--color-secondary-rotate);
}

@media (max-width: 70rem) {
  /* line 131, app/assets/stylesheets/components/_navbar.scss */
  .navbar__link:not(:last-child) {
    border-right: none;
  }
}

/* line 139, app/assets/stylesheets/components/_navbar.scss */
.navbar__profile {
  background-color: var(--color-tertiary);
  padding: 0.5em 1em;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}

@media (max-width: 70rem) {
  /* line 139, app/assets/stylesheets/components/_navbar.scss */
  .navbar__profile {
    display: none;
  }
}

/* line 149, app/assets/stylesheets/components/_navbar.scss */
.navbar__profile a {
  color: var(--color-text-header);
  text-decoration: none;
  font-weight: bold;
}

/* line 156, app/assets/stylesheets/components/_navbar.scss */
.navbar__profile:hover {
  background-color: var(--color-glint);
}

/* line 158, app/assets/stylesheets/components/_navbar.scss */
.navbar__profile:hover a {
  color: var(--color-text-body);
}

/* line 1, app/assets/stylesheets/components/_footer.scss */
.footer {
  background-color: var(--color-secondary);
  width: 100%;
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 0px;
  font-size: 14px;
  border-top: 1px solid var(--color-secondary-rotate);
  display: flex;
  flex-wrap: wrap;
  /* Enable wrapping of items */
  justify-content: space-between;
  align-items: center;
  /* Align items to the start of the flex container */
  /* Individual container styling */
}

/* line 20, app/assets/stylesheets/components/_footer.scss */
.footer__logo-container, .footer__instagram-container {
  flex: 0 0 100px;
  /* Make sure each section can grow and take 100% width on small screens */
}

/* line 25, app/assets/stylesheets/components/_footer.scss */
.footer__info-container {
  flex: 1 1 200px;
}

/* line 29, app/assets/stylesheets/components/_footer.scss */
.footer__links-container {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

/* line 38, app/assets/stylesheets/components/_footer.scss */
.footer .footer__link:not(:last-child)::after {
  content: "";
  /* Required to show the pseudo-element */
  display: inline-block;
  width: 1px;
  height: 20px;
  /* Adjust the height as needed */
  background-color: var(--color-secondary-rotate);
  /* Line color */
  margin-left: 10px;
  /* Space between the link and the line */
  margin-right: 10px;
  /* Space between the line and the next link */
  vertical-align: middle;
  /* Align the line with the text */
}

/* line 49, app/assets/stylesheets/components/_footer.scss */
.footer__logo-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

/* line 55, app/assets/stylesheets/components/_footer.scss */
.footer__instagram-container {
  display: flex;
  align-items: center;
  justify-content: end;
}

/* line 63, app/assets/stylesheets/components/_footer.scss */
.footer__logo {
  border-radius: 100%;
  max-width: 75px;
  height: auto;
}

/* line 70, app/assets/stylesheets/components/_footer.scss */
.footer__links-container a {
  color: var(--color-tertiary);
  text-decoration: none;
  font-size: 14px;
}

/* line 76, app/assets/stylesheets/components/_footer.scss */
.footer__link:hover {
  color: var(--color-glint);
}

/* line 80, app/assets/stylesheets/components/_footer.scss */
.footer__info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* line 88, app/assets/stylesheets/components/_footer.scss */
.footer__git {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

/* line 95, app/assets/stylesheets/components/_footer.scss */
.footer__git .footer__link {
  color: var(--color-tertiary);
}

/* line 99, app/assets/stylesheets/components/_footer.scss */
.footer__git .footer__link:hover {
  color: var(--color-glint);
}

/* line 104, app/assets/stylesheets/components/_footer.scss */
.footer__text {
  margin: 0;
  color: var(--color-primary);
}

/* line 109, app/assets/stylesheets/components/_footer.scss */
.footer__copyright {
  width: 100%;
  text-align: center;
  /* Center the copyright text */
  margin-top: 20px;
  /* Add space from the elements above */
  border-top: 1px solid var(--color-secondary-rotate);
  color: var(--color-primary-rotate);
  padding-top: 10px;
  /* Padding for visual spacing */
  order: 2;
  /* Place it at the end in flex order */
}

@media (min-width: 70rem) {
  /* line 1, app/assets/stylesheets/components/_footer.scss */
  .footer {
    padding-right: 20vw;
    padding-left: 20vw;
  }
}

/* line 3, app/assets/stylesheets/components/_home.scss */
.home__hero {
  display: flex;
  align-self: center;
  border-radius: var(--border-radius);
  width: 100%;
  height: auto;
}

@media (max-width: 70rem) {
  /* line 3, app/assets/stylesheets/components/_home.scss */
  .home__hero {
    width: 100%;
    height: auto;
  }
}

/* line 3, app/assets/stylesheets/components/_user.scss */
.user__table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: var(--border-radius);
}

/* line 16, app/assets/stylesheets/components/_user.scss */
.user__table-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--color-secondary);
}

@media (max-width: 70rem) {
  /* line 16, app/assets/stylesheets/components/_user.scss */
  .user__table-row {
    overflow: scroll;
  }
}

/* line 30, app/assets/stylesheets/components/_user.scss */
.user__table-row:first-of-type {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

/* line 35, app/assets/stylesheets/components/_user.scss */
.user__table-row:last-of-type {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

/* line 40, app/assets/stylesheets/components/_user.scss */
.user__table-row:first-of-type > :first-child {
  border-top-left-radius: var(--border-radius);
}

/* line 44, app/assets/stylesheets/components/_user.scss */
.user__table-row:first-of-type > :last-child {
  border-top-right-radius: var(--border-radius);
}

/* line 48, app/assets/stylesheets/components/_user.scss */
.user__table-row:last-of-type > :first-child {
  border-bottom-left-radius: var(--border-radius);
}

/* line 52, app/assets/stylesheets/components/_user.scss */
.user__table-row:last-of-type > :last-child {
  border-bottom-right-radius: var(--border-radius);
}

/* line 58, app/assets/stylesheets/components/_user.scss */
.user__table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: var(--color-tertiary);
  color: var(--color-primary-bg);
}

/* line 69, app/assets/stylesheets/components/_user.scss */
.user__table-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-rotate);
  color: var(--color-secondary);
}

/* line 80, app/assets/stylesheets/components/_user.scss */
.user__table-cell {
  flex: 1;
  padding: 10px;
}

/* line 85, app/assets/stylesheets/components/_user.scss */
.user__image {
  width: 50px;
  height: 50px;
  border-radius: var(--border-radius);
}

@media (max-width: 70rem) {
  /* line 91, app/assets/stylesheets/components/_user.scss */
  .user__table-row .user__table-cell:nth-child(1) {
    flex: 0 1 50px;
    /* Fixed width */
  }
}

@media (max-width: 70rem) {
  /* line 96, app/assets/stylesheets/components/_user.scss */
  .user__table-row .user__table-cell:nth-child(5), .user__table-row .user__table-cell:nth-child(6) {
    flex: 0 1 50px;
    /* Fixed width */
  }
}

/* line 103, app/assets/stylesheets/components/_user.scss */
.user__table-row .user__table-cell:last-child {
  flex: 0 0 120px;
  /* Fixed width */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 110, app/assets/stylesheets/components/_user.scss */
.user__table-button {
  border: 0px;
  border-radius: var(--border-radius);
  background-color: var(--color-secondary);
  cursor: pointer;
}

/* line 118, app/assets/stylesheets/components/_user.scss */
.edit,
.confirm {
  background-color: var(--color-secondary);
  transition: background-color 0.5s ease;
}

/* line 124, app/assets/stylesheets/components/_user.scss */
.edit:hover,
.confirm:hover {
  background-color: var(--color-secondary-rotate);
}

/* line 129, app/assets/stylesheets/components/_user.scss */
.trash,
.cancel {
  background-color: var(--color-red);
  transition: background-color 0.5s ease;
}

/* line 135, app/assets/stylesheets/components/_user.scss */
.trash:hover,
.cancel:hover {
  background-color: var(--color-red-rotate);
}

/* line 142, app/assets/stylesheets/components/_user.scss */
[id^="user_"] {
  width: 100%;
}

/* line 1, app/assets/stylesheets/layouts/_container.scss */
.container {
  width: 100%;
  height: 100%;
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-primary-bg);
  padding-bottom: var(--space-m);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

@media (min-width: 70rem) {
  /* line 1, app/assets/stylesheets/layouts/_container.scss */
  .container {
    padding-right: var(--space-m);
    padding-left: var(--space-m);
    max-width: 70rem;
  }
}

/* line 1, app/assets/stylesheets/layouts/_header.scss */
.header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  justify-content: space-between;
  margin-top: var(--space-m);
  margin-bottom: var(--space-l);
  color: var(--color-secondary);
  font-family: 'Lato';
}

@media (min-width: 70rem) {
  /* line 1, app/assets/stylesheets/layouts/_header.scss */
  .header {
    margin-bottom: var(--space-xl);
  }
}

/* line 1, app/assets/stylesheets/layouts/_stack.scss */
.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* line 7, app/assets/stylesheets/layouts/_stack.scss */
.stack > * {
  margin-block: 0;
}

/* line 11, app/assets/stylesheets/layouts/_stack.scss */
.stack > * + * {
  margin-block-start: var(--space, 1.5rem);
}
