/* line 2, app/assets/stylesheets/ideas.scss */
.ideas-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1em;
}

/* line 8, app/assets/stylesheets/ideas.scss */
form {
  border: 10px black;
  text-align: center;
}

/* line 13, app/assets/stylesheets/ideas.scss */
.idea-wrapper {
  background-image: url(/assets/images/stickynote.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 20, app/assets/stylesheets/ideas.scss */
.wrapper {
  margin-left: 20px;
  margin-top: 10px;
}

/* line 25, app/assets/stylesheets/ideas.scss */
.ideas-title {
  margin-bottom: 10px;
  font-size: 55px;
}
