
.ideas-board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
}

form {
    border: 10px black;
    text-align: center;
}

.idea-wrapper{
    background-color: #FFFF00;
}
