
.ideas-board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
}

form {
    border: 10px black;
    text-align: center;
}

.idea-wrapper{
    background-image: "../images/stickynote.jpg";
}

.wrapper {
    margin-left: 20px;
    margin-top: 10px;
}

.ideas-title{
    margin-bottom: 10px;
    font-size: 55px;
}
