/* line 1, app/assets/stylesheets/merch.scss */
a, h1, p, h2 {
  color: black;
}

/* line 5, app/assets/stylesheets/merch.scss */
.merchtitle {
  margin-bottom: 10px;
  font-size: 55px;
}

/* line 10, app/assets/stylesheets/merch.scss */
.merch-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1em;
  row-gap: 20px;
}

/* line 17, app/assets/stylesheets/merch.scss */
form {
  border: 10px black;
  text-align: center;
}

/* line 22, app/assets/stylesheets/merch.scss */
.wrapper {
  width: 100%;
  height: 100%;
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-primary-bg);
  padding-bottom: var(--space-m);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

/* line 35, app/assets/stylesheets/merch.scss */
p {
  font-size: 1.2em;
}

/* line 39, app/assets/stylesheets/merch.scss */
.merch-item-grid {
  display: grid;
  grid-template-columns: 7fr 3fr !important;
  /*width:100%; */
}

/* line 46, app/assets/stylesheets/merch.scss */
.merch-side {
  width: 300px;
  word-wrap: break-word;
}
