/* line 1, app/assets/stylesheets/merch.scss */
a {
  color: black;
}

/* line 5, app/assets/stylesheets/merch.scss */
.merchtitle {
  margin-bottom: 10px;
  font-size: 55px;
}

/* line 10, app/assets/stylesheets/merch.scss */
.merch-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1em;
  row-gap: 20px;
}

/* line 17, app/assets/stylesheets/merch.scss */
form {
  border: 10px black;
  text-align: center;
}

/* line 22, app/assets/stylesheets/merch.scss */
.wrapper {
  margin-left: 20px;
  margin-top: 10px;
}

/* Container Styling */
/* line 27, app/assets/stylesheets/merch.scss */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Optional for depth */
}

/* Header Styling */
/* line 41, app/assets/stylesheets/merch.scss */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  /* Allows button positioning */
  width: 100%;
}

/* line 50, app/assets/stylesheets/merch.scss */
.header-title {
  flex: 1;
  text-align: center;
  font-size: 55px;
  color: black;
  margin: 0;
}

/* line 58, app/assets/stylesheets/merch.scss */
.header-button {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

/* line 64, app/assets/stylesheets/merch.scss */
.button-link {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #4e892f;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}
