/* line 1, app/assets/stylesheets/merch.scss */
a {
  color: black;
}

/* line 5, app/assets/stylesheets/merch.scss */
.merchtitle {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* line 11, app/assets/stylesheets/merch.scss */
.merch-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1em;
  row-gap: 20px;
}

/* line 18, app/assets/stylesheets/merch.scss */
form {
  border: 10px black;
  text-align: center;
}

/* line 23, app/assets/stylesheets/merch.scss */
.wrapper {
  margin-left: 20px;
  margin-top: 10px;
}
