
<%= link_to sanitize("&larr; Back to users"), users_path %>
<div class="header">
  <h1>
    Edit <%= @user.full_name %>
  </h1>
</div>
<%= turbo_frame_tag dom_id(@user) do %>
  <%= render 'form', user: @user %>
<% end %>

