<!-- app/views/users/index.html.erb -->
<main class="container">
  <header class="header">
    <h1>MEMBERS</h1>
  </header>
  
  <%= button_to 'Reset Member Points', reset_points_path, method: :post, data: { turbo_confirm: 'Are you sure you want to update all records?' }, class: 'user__button' %>
  <div class="user__table">
    <div class="user__table-header">
      <div class="user__table-row">
        <div class="user__table-cell">Avatar</div>
        <div class="user__table-cell">Full Name</div>
        <div class="user__table-cell">Committee</div>
        <div class="user__table-cell">Points</div>
        <div class="user__table-cell">Dues</div>
        <div class="user__table-cell">Role</div>
        <div class="user__table-cell">Actions</div>
      </div>
    </div>
    <div class="user__table-body" id="users">
      <% @users.each do |user| %>
        <%= render partial: 'user', locals: { user: user } %>
      <% end %>
    </div>
  </div>
</main>
