<!-- app/views/users/index.html.erb -->
<main class="container">
  <header class="header">
    <h1>MEMBERS</h1>
  </header>
  <div id="reset-button">
    <%= button_to 'Reset Member Points', reset_points_path, method: :post, data: { turbo_confirm: 'Are you sure you want to update all records?' }, class: 'btn btn--danger' %>
  </div>
  <br>
  <div class="table">
    <div class="table-header">
      <div class="table-row">
        <div class="table-cell user-cell">Avatar</div>
        <div class="table-cell user-cell">Full Name</div>
        <div class="table-cell user-cell">Committee</div>
        <div class="table-cell user-cell">Points</div>
        <div class="table-cell user-cell">Dues</div>
        <div class="table-cell user-cell">Role</div>
        <div class="table-cell user-cell actions">Actions</div>
      </div>
    </div>
    <div class="table-body" id="users">
      <% @users.each do |user| %>
        <%= render partial: 'user', locals: { user: user } %>
      <% end %>
    </div>
  </div>
</main>
