<div class="modal" id="modal" data-controller="modal">
  <div class="modal__overlay" data-action="click->modal#close"></div>
  <div class="modal__content" data-modal-target="content">
    <button class="modal__close-button" data-action="click->modal#close">&times;</button>
    <turbo-frame id="modal_frame">
      <!-- Modal content will be dynamically loaded here -->
    </turbo-frame>
  </div>
</div>
