<h1>Archived Events</h1>
<ul>
  <% @archived_events.each do |event| %>
    <li>
      <%= event.name %> - <%= event.date %>
      <%= link_to 'Unarchive', unarchive_event_path(event), method: :put, data: { confirm: 'Are you sure?' }, class: 'btn btn-info' %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back to All Events', events_path, class: 'btn btn-secondary' %>