
<%= link_to sanitize("&larr; Back to links"), links_path %>
<div class="header">
  <h1>
    Edit <%= @link.title %>
  </h1>
</div>
<%= turbo_frame_tag dom_id(@link) do %>
  <%= render 'form', link: @link %>
<% end %>