<main class="container">
  <header class="header">
    <h1>LINKS</h1>
  </header>
  <% if @role == "admin" %>
    <%= link_to "New Link", new_link_path, class: 'btn btn--primary', data: { turbo_frame: dom_id(Link.new) } %><br>
  <% end %>

  <div style="display: flex; align-items: center; justify-content: center; height: auto; min-height: 40px; width: 75%; background-color: white; border: 2px solid black; font-weight: bold; border-radius: 0.375rem; text-align: center; color: red;">
    <p>Ensure that links use the full URL, including the protocol (e.g., https://google.com)</p>
  </div>
  <br>

  <div class="link__table">
    <div class="link__table-header">
      <div class="link__table-row">
        <div class="link__table-cell">Link</div>
        <% if @role == "admin" %>
          <div class="link__table-cell">Actions</div>
        <% end %>
      </div>
    </div>
    <div class="link__table-body" id="links">
      <% @links.each do |link| %>
        <%= turbo_frame_tag dom_id(link) do %>
          <%= render partial: 'link', locals: { link: link } %>
        <% end %>
      <% end %>
      <%= turbo_frame_tag dom_id(Link.new) %>
    </div>
  </div>
</main>
