<div id="<%= dom_id leaderboard_category %>">
  <p>
    <strong>Category name:</strong>
    <%= leaderboard_category.category_name %>
  </p>

  <p>
    <strong>Min points:</strong>
    <%= leaderboard_category.min_points %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= leaderboard_category.color %>
  </p>

</div>
