<%= turbo_stream.remove dom_id(@leaderboard_category) %>

<%= turbo_stream.replace "leaderboard" do %>
  <div class="page-layout__leaderboard" id="leaderboard">
    <%= render partial: 'leaderboard', locals: { users: @users } %>
  </div>
<% end %>