<main class="container">
  <header class="header">
    <h1>EDITING LEADERBOARD CATEGORY</h1>
  </header>

  <%= render "form", leaderboard_category: @leaderboard_category %>

  <br>

  <div>
    <%= link_to "Show this leaderboard category", @leaderboard_category %> |
    <%= link_to "Back to leaderboard categories", leaderboard_categories_path %>
  </div>
</main>