
<%= link_to sanitize("&larr; Back to leaderboard"), leaderboard_categories_path %>
<div class="header">
  <h1>
    Edit <%= @leaderboard_category.category_name %>
  </h1>
</div>
<%= turbo_frame_tag dom_id(@leaderboard_category) do %>
  <%= render 'form', leaderboard_category: @leaderboard_category %>
<% end %>