<main class="container">
  <header class="header">
    <h1>New Leaderboard Category</h1>
  </header>

  <%= render "form", leaderboard_category: @leaderboard_category %>

  <br>

  <div>
    <%= link_to "Back to leaderboard categories", leaderboard_categories_path %>
  </div>
</main>
