<h1>New leaderboard category</h1>

<%= render "form", leaderboard_category: @leaderboard_category %>

<br>

<div>
  <%= link_to "Back to leaderboard categories", leaderboard_categories_path %>
</div>
