<main class="container">
  <header class="header">
    <h1 class="header">PHOTOS</h1>
  </header>

  <%= link_to "New Photo", new_photo_path, data: { turbo_frame: dom_id(Photo.new) } %><br><br>

  <div class="photo__table">
    <div class="photo__table-header">
      <div class="photo__table-row">
        <div class="photo__table-cell">Title</div>
        <div class="photo__table-cell">Description</div>
        <div class="photo__table-cell">Image</div>
        <div class="photo__table-cell">Actions</div>
      </div>
    </div>
    <div class="photo__table-body" id="photos">
      <%= turbo_frame_tag Photo.new %>
      <% @photos.each do |photo| %>
        <%= render partial: 'photo', locals: { photo: photo } %>
      <% end %>
    </div>
  </div>
</main>
