<main class="container">
  <header class="header">
    <h1 class="header">PHOTOS</h1>
  </header>

<div class="photo__table">
    <div class="photo__table-header">
      <div class="photo__table-row">
        <div class="photo__table-cell">Title</div>
        <div class="photo__table-cell">Description</div>
        <div class="photo__table-cell">Image</div>
        <div class="photo__table-cell">Actions</div>
      </div>
    </div>
    <div class="photo__table-body" id="photos">
      <% @photos.each do |photo| %>
        <%= render partial: 'photo', locals: { photo: photo } %>
      <% end %>
    </div>
  </div>
</main>
