<main class="container">
  <header class="header">
    <h1 class="header">PHOTO GALLERY</h1>
  </header>
  <%= link_to "New Photo", new_photo_path, data: { turbo_frame: dom_id(Photo.new) } %><br><br>
  <div class="gallery" id="photos">
    <% columns = 3 %>
    <% photos_in_columns = @photos.in_groups(columns, false) %>

    <% photos_in_columns.each_with_index do |column_photos, index| %>
        <div class="gallery__column" id="column-<%= index %>">
          <%= turbo_frame_tag Photo.new %>
          <% column_photos.each do |photo| %>
              <%= render partial: 'photo', locals: { photo: photo } %>
          <% end %>
        </div>
    <% end %>
  </div>
</main>
