.btn {
  display: inline-block;
  padding: var(--space-xxs) var(--space-m);
  border-radius: var(--border-radius);
  background-origin: border-box; // Invisible borders with linear gradients
  background-color: transparent;
  border: solid 2px transparent;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: filter 400ms, color 0.3s ease;

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    transition: filter 250ms, color 0.3s ease;
  }

  &--primary {
    color: var(--color-secondary);
    // background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-rotate));
    background-color: var(--color-primary);
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-secondary-rotate);
      filter: saturate(1.1) brightness(105%);
    }
  }

  &--secondary {
    color: var(--color-tertiary);
    background-color: var(--color-secondary);
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      background-color: var(--color-secondary-rotate);
      color: var(--color-glint);
      // filter: saturate(1.1) brightness(110%);
    }
  }

  &--light {
    color: var(--color-dark);
    background-color: var(--color-light);
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-dark);
      filter: brightness(92%);
    }
  }

  &--dark {
    color: var(--color-white);
    border-color: var(--color-dark);
    background-color: var(--color-dark);
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-white);
    }
  }

  &--tertiary {
    color: var(--color-secondary);
    background-color: var(--color-tertiary);
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-secondary-rotate);
      filter: saturate(1.1) brightness(105%);
    }
  }

  &--danger {
    color: var(--color-white);
    background-color: var(--color-red);
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-primary-bg);
      filter: saturate(1.1) brightness(105%);
    }
  }
}
