.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr); // 7 days a week
  gap: 8px;
}

.day {
  padding: 10px;
  background-color: #f8f9fa;
  text-align: center;
  border-radius: 5px;
}

.event-date {
  background-color: blue;
  color: white;
  border-radius: 50%; // Optional: make the day rounded
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.no-event {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.event,
.calendar,
.simple-calendar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.event {

  &__new {
    align-self: flex-start;

  }
}

