.form {
  display: flex;

  #photo_description {
    background-color: white;
  }

  &__group {
    flex: 1;
  }

  &__input {
    width: 100%;
    max-width: 100%;
    border: var(--border);
    border-radius: var(--border-radius);
    outline: none;
    transition: box-shadow 250ms;

    &:focus {
      box-shadow: 0 0 0 2px var(--color-glint);
    }

    &--invalid {
      border-color: var(--color-primary);
    }
  }
}

form {
  #event_description,
  #user_dues {
    width: 100%;
    max-width: 100%;
    border-radius: var(--border-radius);
    border-width: 2px !important;
    background-color: white;
  }
}
