.form {
  display: flex;
  

  &__group {
    flex: 1;
  }

  &__input {
    width: 100%;
    max-width: 100%;
    border: var(--border);
    border-radius: var(--border-radius);
    outline: none;
    transition: box-shadow 250ms;

    &:focus {
      box-shadow: 0 0 0 2px var(--color-glint);
    }

    &--invalid {
      border-color: var(--color-primary);
    }
  }
}
