/* app/assets/stylesheets/application.scss */

.navbar {
  background-color: var(--color-secondary);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__navigation {
    width: 70rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-m);

    @include media(mobile) {
      width: 100%;
      justify-content: space-between; // Change this to space-between
      align-items: center;
      padding: 0 1rem; // Add padding for spacing
    }
  }

  &__toggle {
    display: none;
    background: none;
    border: none;
    max-width: 100px;
    font-size: 3em;
    color: var(--color-white);
    cursor: pointer;
    

    @include media(mobile) {
      display: block;
      order: 3; // Ensure toggle is the last item
    }
  }

  &__logo {
    border-radius: 100%;
    max-width: 75px;
    height: auto;

    @include media(mobile) {
      max-width: 75px;
      position: absolute;
      top: .5em;
      left: 50%;
      transform: translateX(-50%); // Center the logo horizontally
      order: 2; // Ensure logo appears in the center
    }
  }

  &__list {
    display: flex; 
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin: 0;
    padding: 0;

    @include media(mobile) {
      display: none;
      flex-direction: column;
      background-color: var(--color-secondary);
      position: absolute;
      top: 100%;
      right: 0;
      width: 200px;
    }
    &.is-active {
      @include media(mobile) {
        display: flex !important;
        flex-direction: column;
        background-color: var(--color-secondary);
        position: absolute;
        top: 100%;
        width: 100%;

        .navbar__link {
          border-bottom: 1px solid var(--color-secondary-rotate);
          border-radius: 0;
        }
      }
    }
  }

  &__list .navbar__list-auth {
    display: none;
    @include media(mobile) {
      display: flex;
    }
  }

  &__link {
    color: var(--color-primary-rotate);
    height: 6em;
    padding: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease, color 0.5s ease;
    vertical-align: middle;
    

    @include media(mobile) {
      margin: 0;
    }

    &:hover {
      background-color: var(--color-secondary-rotate);
    }
  }

  &__link:not(:last-child) {
    border-right: 1px solid var(--color-secondary-rotate);

    @include media(mobile) {
      border-right: none;
    }
  }

  &__link:first-of-type {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }

  &__link:nth-last-of-type(2) {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-right: 0px solid var(--color-secondary-rotate);
  }

  &__profile {
    background-color: var(--color-tertiary);
    padding: 0.5em 1em;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
    @include media(mobile) {
      display: none;
    }

    a {
      color: var(--color-text-header);
      text-decoration: none;
      font-weight: bold;
    }
  }

  &__profile:hover {
    background-color: var(--color-glint);
    a {
      color: var(--color-text-body);
    }
  }
}

