.user {

    &__table {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        height: 100%;
        background-color: var(--color-primary);
        color: var(--color-secondary);
        border-radius: var(--border-radius);
    }

    &__table-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid var(--color-secondary);
        border-radius: 0px;
        @include media(mobile) {
            overflow: scroll;
        }
    }

    // &__table-row:last-of-type {
    //     border-bottom: 0px solid var(--color-secondary);
    // }

    &__table-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        background-color: var(--color-tertiary);
        color: var(--color-primary-bg);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    &__table-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        background-color: var(--color-primary-rotate);
        color: var(--color-secondary);
    }

    &__table-cell {
        flex: 1;
        padding: 10px;
    }

    &__image {
        width: 50px;
        height: 50px;
        border-radius: var(--border-radius);
    }

    &__table-row .user__table-cell:nth-child(1) {
        flex: 0 0 70px;
    }

    &__table-row .user__table-cell:nth-child(2) {
        @include media(mobile) {
            flex: 1 0 100px;
        }
    }

    &__table-row .user__table-cell:nth-child(3) {
        flex-grow: 1;
        @include media(mobile) {
            flex: 1 0 75px; /* Fixed width */
        }
    }

    &__table-row .user__table-cell:nth-child(4),
    &__table-row .user__table-cell:nth-child(5) {
        flex: 0 0 65px;
    }

    &__table-row .user__table-cell:nth-child(6) {
        flex: 0 0 80px;
    }

    &__table-row .user__table-cell:last-child {
        flex: 0 0 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__table-button {
        border: 0px;
        border-radius: var(--border-radius);
        background-color: var(--color-secondary);
        cursor: pointer;
    }

    &__button {
        background-color: var(--color-secondary);
        padding: 0.5em 1em;
        border-radius: var(--border-radius);
        border: 0px solid var(--color-secondary);
        cursor: pointer;
    
        color: var(--color-tertiary);
        text-decoration: none;
        font-weight: bold;
    
        transition: background-color 0.5s ease, color 0.5s ease;
        @include media(mobile) {
          display: none;
        }
      }
    
      &__button:hover {
        background-color: var(--color-secondary-rotate);
        color: var(--color-glint);
      }
}

.edit,
.confirm {
    background-color: var(--color-secondary);
    transition: background-color 0.5s ease;
}

.edit:hover,
.confirm:hover {
    background-color: var(--color-secondary-rotate);
}

.trash,
.cancel {
    background-color: var(--color-red);
    transition: background-color 0.5s ease;
}

.trash:hover,
.cancel:hover {
    background-color: var(--color-red-rotate);
}



[id^="user_"] {
    width: 100%;
}

