
.ideas-board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    row-gap: 20px;
}

form {
    border: 10px black;
    text-align: center;
}

.idea-item {
    background-image: url('/assets/stickynote.png');
    background-size: cover;  /* Ensures the image covers the entire grid item */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
    width: 375px; /* Set width of grid item */
    height: 375px; /* Set height of grid item */
    padding: 20px; /* Adds some internal space around the content */
    color: black;
}


.wrapper {
    margin-left: 20px;
    margin-top: 10px;
}

.ideas-title{
    margin-bottom: 10px;
    font-size: 55px;
    
}

.item-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    height: 120px !important;
    overflow-y: hidden;
    width: 75%;

}

.idea-footer{
    margin-top: auto;
}

.idea-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

.show-button {
    padding-bottom: 10px;
}

.idea-desc{
    background-color: transparent;
    border: none;
    overflow-y: hidden;
    height: 100%;
}

a {
    color: black;
}

textarea::-webkit-resizer {
    display: none; 
  }

  .title-and-delete {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  
  .item-title {
    flex: 1; /* Allows the textarea or title to expand and take up space */
  }
  
  .delete-button {
    font-size: 50px;
    font-weight: bold;
    color: black;
    background: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: -30px;
    margin-right: -10px;
  }
  
  .delete-button:hover {
    color: red;
  }

/* Dimming background effect for main content */
.dim-background {
    opacity: 0.5;               /* Darkens the background */
    transition: opacity 0.3s;   /* Smooth fade-in and fade-out */
    pointer-events: none;       /* Prevents interaction with background content */
  }
  
/* CSS for modal overlay and positioning */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Dims the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 80%;
  text-align: center;
  z-index: 1001;
}

.hidden {
  display: none;
}



  
  
  
  
  
  