<header class="navbar">
    <div class="navbar__top">
      <p class="navbar__search">Search...</p>
      <%= link_to root_path do %>
        <%= image_tag 'logo-gray.jpg' , alt: 'heat logo', class: 'navbar__logo' %>
      <% end %>
      <div class="navbar__profile">
          <%= link_to @auth_link[:name], @auth_link[:path], method: @auth_link[:method] %>
      </div>
    </div>
    <nav class="navbar__navigation" data-controller="navbar">
      <button class="navbar__toggle" data-action="navbar#toggle">
        ☰
      </button>
      <div class="navbar__list" data-navbar-target="list">
        <% @nav_links.each do |link| %>
          <%= link_to link[:name], link[:path], class: 'navbar__link' %>
        <% end %>
      </div>
    </nav>
</header>
